<table class='table'>
<thead>
<tr>
<th scope='col'>Название</th>
<th scope='col'>Ссылка</th>
<th scope='col'>Ошибка</th>
</thead>
</tr>
<tbody>
<tr>
<td>ООО "УК "ФОРТИС-Инвест"</td>
<td><a href='https://www.fortisinvest.ru'>https://www.fortisinvest.ru</a></td>
<td>HTTPSConnectionPool(host='www.fortisinvest.ru', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x11b6ec2e0>: Failed to establish a new connection: [Errno 61] Connection refused'))</td>
</tr>
<tr>
<td>Закрытое акционерное общество "Среднеуральский брокерский центр"</td>
<td><a href='https://grottbjorn.com/about/documents#disclosure5'>https://grottbjorn.com/about/documents#disclosure5</a></td>
<td>HTTPSConnectionPool(host='grottbjorn.com', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Акционерное общество "Кросна-Банк"</td>
<td><a href='http://www.crosnabank.ru/about/Raskr_regular/3921-U/'>http://www.crosnabank.ru/about/Raskr_regular/3921-U/</a></td>
<td>HTTPConnectionPool(host='www.crosnabank.ru', port=80): Max retries exceeded with url: /about/Raskr_regular/3921-U/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x11f867be0>, 'Connection to www.crosnabank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Акционерный коммерческий банк "Национальный Резервный Банк" (акционерное общество)</td>
<td><a href='https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/'>https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/</a></td>
<td>HTTPSConnectionPool(host='nrb.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Публичное акционерное общество "КВАНТ МОБАЙЛ БАНК"</td>
<td><a href='https://www.km-bank.ru/'>https://www.km-bank.ru/</a></td>
<td>HTTPSConnectionPool(host='www.km-bank.ru', port=443): Max retries exceeded with url: / (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x11f8653f0>: Failed to resolve 'www.km-bank.ru' ([Errno 8] nodename nor servname provided, or not known)"))</td>
</tr>
<tr>
<td>Общество с ограниченной ответственностью Инвестиционная компания «Финдом»</td>
<td><a href='https://findom59.ru/info/'>https://findom59.ru/info/</a></td>
<td>HTTPSConnectionPool(host='findom59.ru', port=443): Max retries exceeded with url: /info/ (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x11f867ca0>: Failed to resolve 'findom59.ru' ([Errno 8] nodename nor servname provided, or not known)"))</td>
</tr>
<tr>
<td>Публичное акционерное общество "МТС-Банк"</td>
<td><a href='https://www.mtsbank.ru/o-banke/disclosure-issuer/'>https://www.mtsbank.ru/o-banke/disclosure-issuer/</a></td>
<td>Exceeded 30 redirects.</td>
</tr>
<tr>
<td>Акционерное общество "ЮниКредит Банк"</td>
<td><a href='https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html'>https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html</a></td>
<td>HTTPSConnectionPool(host='www.unicreditbank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>ИНГ БАНК (ЕВРАЗИЯ) АКЦИОНЕРНОЕ ОБЩЕСТВО</td>
<td><a href='https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag'>https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag</a></td>
<td>HTTPSConnectionPool(host='www.ingwb.com', port=443): Read timed out. (read timeout=5)</td>
</tr>
</tbody>
</table>
